<div class="alert alert-block alert-info">
<h2>Daftar Isi: </h2>
    <ol>
    <li>Memuat Data</li>
    <li>Menelaah Data</li>
    </ol>
</div>

<div class="alert alert-block alert-danger">
<b>Catatan : </b>Jika belum pernah instal library, gunakan perintah berikut secara inline atau melalui terminal.
    <ol>
    <li>!pip install pandas</li>
    <li>!pip install numpy</li>
    </ol>
</div>

## Memuat Data
---

In [2]:
# !pip install pandas

In [3]:
# import library
import pandas as pd
import numpy as np

In [6]:
# load dataset
path = "/content/sample_data/epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

In [7]:
# menampilkan 5 baris awal dari dataset
df.head()

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796

In [8]:
# menampilkan 5 baris akhir dari dataset
df.tail()

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
517,517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.0,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.0,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,519,9524,Anthony Elanga,1,67,0,0.000000,0,0.0,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,520,9540,Femi Seriki,1,1,0,0.000000,0,0.0,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,521,9552,Tyrese Francois,1,13,0,0.000000,0,0.0,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

## Menelaah Data
---

In [9]:
# mengungkap tipe-tipe data dari setiap kolom
print(df.dtypes)

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

Dari hasil output diatas terlihat bahwa 2 kolom pertama (yaitu: 'Unnamed: 0', dan 'id') hanyalah data numerik yang biasanya tidak memiliki makna rill, sehingga kita bisa tidak gunakan kolom/field tsb.

In [10]:
df_noid = df.iloc[:,2:]
df_noid

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [11]:
# menampilkan statistik dasar setiap kolom data yang bertipe numerik.
df_noid.describe()

,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,npg,npxG,xGChain,xGBuildup
count,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000
mean,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,1.668582,1.821450,5.663368,3.455060
std,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,2.909929,2.931176,5.600249,3.376584
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,0.000000,0.074668,1.191391,0.720353
50%,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,0.500000,0.715585,4.252738,2.656397
75%,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,2.000000,1.945799,8.308002,5.254647
max,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,19.000000,19.130183,28.968234,18.323006

In [12]:
# jika ingin menampilkan juga statistik kolom-
# yang bertipe non-numerik, mencakup beberapa banyak nilai unik-
# dalam kolom (unique), nilai modus(top), serta frekuensi modus(freq)
df_noid.describe(include="all")

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
count,522,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522,522,522.000000,522.000000,522.000000,522.000000
unique,522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,28,NaN,NaN,NaN,NaN
top,Harry Kane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M S,Everton,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106,28,NaN,NaN,NaN,NaN
mean,NaN,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,NaN,NaN,1.668582,1.821450,5.663368,3.455060
std,NaN,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,NaN,NaN,2.909929,2.931176,5.600249,3.376584
min,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,NaN,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,NaN,NaN,0.000000,0.074668,1.191391,0.720353
50%,NaN,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,NaN,NaN,0.500000,0.715585,4.252738,2.656397
75%,NaN,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,NaN,NaN,2.000000,1.945799,8.308002,5.254647
max,NaN,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,NaN,NaN,19.000000,19.130183,28.968234,18.323006

### Contoh fungsi statistik setiap kolom (yang applicable)
---

In [13]:
df_noid.mean()

TypeError: Could not convert ['Harry KaneMohamed SalahBruno FernandesSon Heung-MinPatrick BamfordDominic Calvert-LewinJamie VardyOllie WatkinsIlkay GndoganAlexandre LacazetteCallum WilsonKelechi IheanachoDanny IngsChris WoodWilfried ZahaMarcus RashfordSadio ManGareth BaleMatheus PereiraPierre-Emerick AubameyangMichail AntonioChristian BentekeRaheem SterlingEdinson CavaniAnwar El GhaziTomas SoucekRoberto FirminoJesse LingardRiyad MahrezHarvey BarnesDiogo JotaChe AdamsJames Ward-ProwseJarrod BowenNeal MaupayGabriel JesusNicolas PepePhil FodenJoe WillockJames MaddisonStuart DallasJack HarrisonBertrand TraorJorginhoRodrigoRicharlisonFerrn TorresMason GreenwoodDavid McGoldrickTimo WernerDanny WelbeckJack GrealishTammy AbrahamGylfi SigurdssonJames RodrguezYouri TielemansMason MountRaphinhaKevin De BruyneKurt ZoumaCallum RobinsonLewis DunkPedro NetoBobby ReidRben NevesBukayo SakaLeandro TrossardJoelintonOlivier GiroudAnthony MartialJohn StonesChristian PulisicRal JimnezMateusz KlichKai HavertzAdemola LookmanScott McTominayStuart ArmstrongMiguel AlmirnEberechi EzeFabio SilvaAllan Saint-MaximinJannik VestergaardPascal GroTheo WalcottAngelo OgbonnaRoss BarkleyAshley WestwoodAleksandar MitrovicBen ChilwellCraig DawsonKyle BartleyMatej VydraMichael KeanePaul PogbaPablo FornalsLucas MouraHlder CostaRomain SaissIvan CavaleiroAshley BarnesJosh MajaDaniel JamesTanguy NDombele AlvaroSbastien HallerBilly SharpJohn McGinnTakumi MinaminoDaniel PodenceMbaye DiagnePierre-Emile HjbjergSergio AgeroOla AinaJeffrey SchluppJamaal LascellesAyoze PrezGeorginio WijnaldumNathan RedmondJonny EvansAdama TraorTyrone MingsMarcos AlonsoBen MeeJohann Berg GudmundssonMichy BatshuayiHarry MaguireAbdoulaye DoucourMatt PhillipsHal Robson-KanuJeff HendrickTrent Alexander-ArnoldJoo CanceloRodriIssa DiopThiago SilvaBenjamin MendySerge AurierBernardo SilvaSemi AjayiAaron Wan-BissakaGabrielJairo RiedewaldSolly MarchJacob MurphyTimothy CastagneCallum Hudson-OdoiEddie NketiahYerry MinaDwight McNeilEmile Smith-RoweTrzguetEzri Konsa NgoyoGabriel MartinelliJames JustinAaron ConnollyEzgjan AlioskiHakim ZiyechConor GallagherJayden BogleFabian SchrGranit XhakaThiago AlcntaraJoel MatipAdam LallanaHctor BellernMohamed ElnenyAlex IwobiScott DannCheikhou KouyatManuel LanziniAndy CarrollNathan AkJordan HendersonKyle WalkerToby AlderweireldErik LamelaJordan AyewCsar AzpilicuetaRuben Loftus-CheekGary CahillWillianDwight GayleMarc AlbrightonDaniel AmarteyJonjo ShelveyAndros TownsendRobbie BradyVirgil van DijkOriol RomeuJay RodriguezPaul DummettCiaran ClarkAlex Oxlade-ChamberlainMason HolgateLuke ShawTyler RobertsKeinan DavisDennis PraetAlissonMario LeminaEmil KrafthMatthew LowtonJames TarkowskiDavid LuizAndrew RobertsonOliver McBurnieAntonio RdigerDiego LlorenteWillian JosMartin OdegaardJoo MoutinhoSaid BenrahmaDarnell FurlongOliver BurkeCaglar SyncWilfred NdidiLuka MilivojevicDeclan RiceYves BissoumaGiovani Lo CelsoJean-Philippe MatetaJan BednarekVictor LindelfJoachim AndersenBen JohnsonGrady DianganaCurtis JonesRayan Ait NouriFredJoe BryanTom CairneyWilly BolyConor CoadyMorgan Gibbs-WhiteKortney HauseRyan FredericksFabin BalbuenaBernardLeander DendonckerDan BurnKarlan GrantCarlos ViniciusAdam WebsterMoussa DjenepoBen OsbornConor HourihaneSteven AlzateReece JamesKieran TierneyTyrick MitchellTariq LampteyNathaniel PhillipsSander BergeSteven BergwijnAlexis Mac AllisterNathan TellaJimmy DunneLuke ThomasPascal StruijkKalvin PhillipsJol VeltmanLiam CooperDonny van de BeekRben DiasKean BryanFabio CarvalhoDaniel JebbisonBernd LenoAndreas ChristensenSead KolasinacMatt RitchieJoshua KingDivock OrigiMamadou SakhoJames MilnerCalum ChambersJoel WardMartin KellyAdrinJames TomkinsMark NobleAaron CresswellDarren RandolphKieran GibbsDavid de GeaTimothy Fosu-MensahJuan MataOdion IghaloSeamus ColemanPhil JagielkaJames McCarthyNathaniel ClyneFernandinhoWilly CaballeroJames McArthurAlex McCarthyHugo LlorisEric DierDele AlliBen DaviesJosh OnomahBranislav IvanovicNemanja MaticFikayo TomoriLukasz FabianskiFederico FernndezNeil TaylorJack CorkDeAndre YedlinPatrick van AanholtJordan PickfordKasper SchmeichelWes MorganChristian FuchsN&#039;Golo KantDemarai GrayMoussa SissokoKarl DarlowJohn RuddyFraser ForsterRyan BertrandShane LongCdric SoaresCharlie AustinJack ButlandPhil BardsleyFabian DelphMatt TargettKyle Walker-PetersErik PietersXherdan ShaqiriHarrison ReedAxel TuanzebeHarry WinksSam JohnstoneJoseph GomezSam FieldTom DaviesJonjoe KennyFelipe AndersonEmersonMoise KeanAllanIslam SlimaniRyan FraserAhmed ElmohamadyJake LivermoreRobert SnodgrassShkodran MustafiJavier ManquilloJack StephensEric BaillyKevin LongLys MoussetRob HoldingAinsley Maitland-NilesArthur MasuakuNampalys MendyLucas DigneAlex TellesPablo HernndezVicente GuaitaMateo KovacicKiko CasillaJonnyAlphonse AreolaThomas ParteyAndr GomesMat RyanDani CeballosAymeric LaporteOleksandr ZinchenkoKamil GrosickiRicardo PereiraMaxime Le MarchandFabinhoMorgan SansonAhmed HegazyEmiliano MartinezJean-Philippe GbaminAboubakar KamaraPatrick CutroneKepaBernardoNaby KeitaMichael HectorNick PopeRekeem HarperRhian BrewsterTosin AdarabioyoAaron RamsdaleFernando MaralKenny TeteCharlie TaylorDavy PrpperDale StephensEdersonIsaac HaydenTerence KongoloDouglas LuizCengiz nderNlson SemedoJos IzquierdoDavinson SnchezRobin KochAndriy YarmolenkoJayson MolumbyEthan AmpaduJoe RodonHamza ChoudhuryFranck ZamboCenk TosunReiss NelsonMichael ObafemiMartin DubravkaIbrahima DialloLee PeltierNeeskens KebanoAlireza JahanbakhshDavid ButtonRui PatrcioMatt DohertyRben VinagreRnar Alex RnarssonEdouard MendyMohammed SalisuOkay YokusluRobin OlsenDenis OdoiSean LongstaffTim ReamSergio ReguilnYan ValeryBen WhiteKayne RamsayMax KilmanOzan KabakJosh BensonWill NorrisWesley FofanaBen GodfreyJamal LewisDean HendersonJohn EganChris BashamJack O&#039;ConnellGeorge BaldockEnda StevensJohn LundstramJohn FleckOliver NorwoodWesleyZack SteffenCaoimhin KelleherDaniel N&#039;LunduluBilly GilmourMatthew LongstaffMarvelous NakambaEric GarciaBrandon WilliamsNiels NkounkouAmad Diallo TraoreAnthony GordonScott CarsonOwen OtasowieNeco WilliamsJaphet TangangaWilliam SmallboneOskar BuurJack RobinsonJosh BrownhillKi-Jana HoeverJoo VirgniaPablo MarBailey Peacock-FarrellJake VokinsAlexandre JankewitzJoel MumbongoMarek RodkIllan MeslierLuke AylingJamie ShackletonIan Poveda-OcampoDara O&#039;SheaRomaine SawyersKyle EdwardsVitinhaKonstantinos TsimikasMatthew CashLiam DelapConor TownsendMax LoweLeif DavisAntonee RobinsonJacob RamseyVladimir CoufalFilip KrovinovicLewis RichardsonRhys WilliamsRobert SnchezAndi ZeqiriElliot AndersonTheo CorbeanuNiall HugginsAntwoine HackfordPercy TauReda KhadraCaleb WattsAllan TchaptchetJakub ModerIliman NdiayeThakgalo LeshabelaDane ScarlettCarney ChukwuemekaShola ShoretireSidnei TavaresNathan BroadheadJaden Philogene-BidaceGaetano BerardiAnthony ElangaFemi SerikiTyrese Francois'
 'FF M SM SF M SF SF SF SFM SF M SF SF SF SF SF M SF M SF M SM SM SF M SF SF SF M SF SF M SMF M SF MF M SF M SF M SF SD MF M SF M SF M SF M SF M SM SM SD MM SF M SM SF M SF M SF M SF M SF M SF M SF M SF M SF SF M SF M SM SF M SM SM SD SF M SDF M SD F M SM SD F M SF M SF M SF SF M SDF M SFM SF M SF M SM SM SF M SM SF SF M SD SD M SF M SDM SMF SD MDD SF SD SM SF M SF M SM SDD F M SF M SF SM SM SF SF SMF M SF M SF SMF M SD MM SDF M SM SF M SDD F M SDD SDM SF SDMM SF SM SD SD M SM SD SDD M SD MF M SD SDD SM SD M SD M SD MD F M SF SD SM SM SF M SD SF M SDF M SD M SF M SM SD M SD SD M SM SD SF M SD SM SD F M SDD M SM SF SD SD M SD SDF M SF M SD SF M SDF M SF SD M SD SM SF M SM SDMF M SD SD SF M SD M SD SF M SF SM SGKD M SD SDDD SDF SDD SF SM SM SM SD M SF SD SD M SM SMM SM SF SDDD SD M SF M SM SD M SM SD M SM SDDF M SDD M SD SF M SD M SD M SF M SF SDM SD F M SM SD M SD M SD SDD MD SM SF M SF M SF M SDD M SD M SM SD M SDM SDD SF M SF SGKD SDD M SSF SD SD M SD SD SSGKD SM SDGKD SGKDM SSD M SD SM SDM SGKM SGKGKDM SD SM SD SM SSGKDSM SD SD M SGKGKSD SM SSD M SGKGK SGKDF SD SSGKD SD M SDDD M SF M SM SD SM SGKD SSD M SD SSSSM SSF M SD SM SM SSD SD M SD SD SF SD SD M SD MM SD MD SM SGKM SGKDGKM SM SGKM SD SD M SM SD M SD SD M SM SDGKSF M SSGK SD M SM SD SGKSF M SDGKD M SD SD SM SM SGKD M SDM SM SD MSD SD M SM SSD M SD SM SM SSSSGKM SD SM SD F M SGKGKD M SD SSGKD SM SGKDM SDD M SD SD MDD SDM SGKD SD SD SGK SD SD MDDD MM SM SM SSGKGKSM SM SM SD SD SDM SM SGKM SD SDM SSD SM SD SSDGKDM SSGKGKD MD M SSD SM SM SM SSDSD MD SSD M SM SD MM SSD SGKSSSSSM SSSSD M SSSSSSM SSSD SMSS'
 'TottenhamLiverpoolManchester UnitedTottenhamLeedsEvertonLeicesterAston VillaManchester CityArsenalNewcastle UnitedLeicesterSouthamptonBurnleyCrystal PalaceManchester UnitedLiverpoolTottenhamWest Bromwich AlbionArsenalWest HamCrystal PalaceManchester CityManchester UnitedAston VillaWest HamLiverpoolWest HamManchester CityLeicesterLiverpoolSouthamptonSouthamptonWest HamBrightonManchester CityArsenalManchester CityArsenal,Newcastle UnitedLeicesterLeedsLeedsAston VillaChelseaLeedsEvertonManchester CityManchester UnitedSheffield UnitedChelseaBrightonAston VillaChelseaEvertonEvertonLeicesterChelseaLeedsManchester CityChelseaWest Bromwich AlbionBrightonWolverhampton WanderersFulhamWolverhampton WanderersArsenalBrightonNewcastle UnitedChelseaManchester UnitedManchester CityChelseaWolverhampton WanderersLeedsChelseaFulhamManchester UnitedSouthamptonNewcastle UnitedCrystal PalaceWolverhampton WanderersNewcastle UnitedSouthamptonBrightonEverton,SouthamptonWest HamAston Villa,ChelseaBurnleyFulhamChelseaWest HamWest Bromwich AlbionBurnleyEvertonManchester UnitedWest HamTottenhamLeedsWolverhampton WanderersFulhamBurnleyFulhamManchester UnitedTottenhamWest HamSheffield UnitedAston VillaLiverpool,SouthamptonWolverhampton WanderersWest Bromwich AlbionTottenhamManchester CityFulhamCrystal PalaceNewcastle UnitedLeicesterLiverpoolSouthamptonLeicesterWolverhampton WanderersAston VillaChelseaBurnleyBurnleyCrystal PalaceManchester UnitedEvertonWest Bromwich AlbionWest Bromwich AlbionNewcastle UnitedLiverpoolManchester CityManchester CityWest HamChelseaManchester CityTottenhamManchester CityWest Bromwich AlbionManchester UnitedArsenalCrystal PalaceBrightonNewcastle UnitedLeicesterChelseaArsenalEvertonBurnleyArsenalAston VillaAston VillaArsenalLeicesterBrightonLeedsChelseaWest Bromwich AlbionSheffield UnitedNewcastle UnitedArsenalLiverpoolLiverpoolBrightonArsenalArsenalEvertonCrystal PalaceCrystal PalaceWest HamNewcastle UnitedManchester CityLiverpoolManchester CityTottenhamTottenhamCrystal PalaceChelseaChelsea,FulhamCrystal PalaceArsenalNewcastle UnitedLeicesterLeicesterNewcastle UnitedCrystal PalaceBurnleyLiverpoolSouthamptonBurnleyNewcastle UnitedNewcastle UnitedLiverpoolEvertonManchester UnitedLeedsAston VillaLeicesterLiverpoolFulhamNewcastle UnitedBurnleyBurnleyArsenalLiverpoolSheffield UnitedChelseaLeedsWolverhampton WanderersArsenalWolverhampton WanderersWest HamWest Bromwich AlbionSheffield UnitedLeicesterLeicesterCrystal PalaceWest HamBrightonTottenhamCrystal PalaceSouthamptonManchester UnitedFulhamWest HamWest Bromwich AlbionLiverpoolWolverhampton WanderersManchester UnitedFulhamFulhamWolverhampton WanderersWolverhampton WanderersWolverhampton WanderersAston VillaWest HamWest HamEvertonWolverhampton WanderersBrightonWest Bromwich AlbionTottenhamBrightonSouthamptonSheffield UnitedAston VillaBrightonChelseaArsenalCrystal PalaceBrightonLiverpoolSheffield UnitedTottenhamBrightonSouthamptonBurnleyLeicesterLeedsLeedsBrightonLeedsManchester UnitedManchester CitySheffield UnitedFulhamSheffield UnitedArsenalChelseaArsenalNewcastle UnitedEvertonLiverpoolCrystal PalaceLiverpoolArsenalCrystal PalaceCrystal PalaceLiverpoolCrystal PalaceWest HamWest HamWest HamWest Bromwich AlbionManchester UnitedManchester UnitedManchester UnitedManchester UnitedEvertonSheffield UnitedCrystal PalaceCrystal PalaceManchester CityChelseaCrystal PalaceSouthamptonTottenhamTottenhamTottenhamTottenhamFulhamWest Bromwich AlbionManchester UnitedChelseaWest HamNewcastle UnitedAston VillaBurnleyNewcastle UnitedCrystal PalaceEvertonLeicesterLeicesterLeicesterChelseaLeicesterTottenhamNewcastle UnitedWolverhampton WanderersSouthamptonSouthamptonSouthamptonArsenalWest Bromwich AlbionCrystal PalaceBurnleyEvertonAston VillaSouthamptonBurnleyLiverpoolFulhamManchester UnitedTottenhamWest Bromwich AlbionLiverpoolWest Bromwich AlbionEvertonEvertonWest HamChelseaEvertonEvertonLeicesterNewcastle UnitedAston VillaWest Bromwich AlbionWest Bromwich Albion,West HamArsenalNewcastle UnitedSouthamptonManchester UnitedBurnleySheffield UnitedArsenalArsenal,West Bromwich AlbionWest HamLeicesterEvertonManchester UnitedLeedsCrystal PalaceChelseaLeedsWolverhampton WanderersFulhamArsenalEvertonArsenal,BrightonArsenalManchester CityManchester CityWest Bromwich AlbionLeicesterFulhamLiverpoolAston VillaWest Bromwich AlbionAston VillaEvertonFulhamWolverhampton WanderersChelseaBrightonLiverpoolFulhamBurnleyWest Bromwich AlbionSheffield UnitedFulhamSheffield UnitedWolverhampton WanderersFulhamBurnleyBrightonBurnleyManchester CityNewcastle UnitedFulhamAston VillaLeicesterWolverhampton WanderersBrightonTottenhamLeedsWest HamBrightonSheffield UnitedTottenhamLeicesterFulhamEvertonArsenalSouthamptonNewcastle UnitedSouthamptonWest Bromwich AlbionFulhamBrightonWest Bromwich AlbionWolverhampton WanderersTottenhamWolverhampton WanderersArsenalChelseaSouthamptonWest Bromwich AlbionEvertonFulhamNewcastle UnitedFulhamTottenhamSouthamptonBrightonSouthamptonWolverhampton WanderersLiverpoolBurnleyBurnleyLeicesterEvertonNewcastle UnitedManchester UnitedSheffield UnitedSheffield UnitedSheffield UnitedSheffield UnitedSheffield UnitedSheffield UnitedSheffield UnitedSheffield UnitedAston VillaManchester CityLiverpoolSouthamptonChelseaNewcastle UnitedAston VillaManchester CityManchester UnitedEvertonManchester UnitedEvertonManchester CityWolverhampton WanderersLiverpoolTottenhamSouthamptonWolverhampton WanderersSheffield UnitedBurnleyWolverhampton WanderersEvertonArsenalBurnleySouthamptonSouthamptonBurnleyFulhamLeedsLeedsLeedsLeedsWest Bromwich AlbionWest Bromwich AlbionWest Bromwich AlbionWolverhampton WanderersLiverpoolAston VillaManchester CityWest Bromwich AlbionSheffield UnitedLeedsFulhamAston VillaWest HamWest Bromwich AlbionBurnleyLiverpoolBrightonBrightonNewcastle UnitedWolverhampton WanderersLeedsSheffield UnitedBrightonBrightonSouthamptonSouthamptonBrightonSheffield UnitedLeicesterTottenhamAston VillaManchester UnitedLeicesterEvertonAston VillaLeedsManchester UnitedSheffield UnitedFulham'] to numeric

In [14]:
df_noid.sum()

player_name     Harry KaneMohamed SalahBruno FernandesSon Heun...
games                                                       10254
time                                                       741276
goals                                                         972
xG                                                    1044.420572
assists                                                       673
xA                                                     718.287269
shots                                                        9072
key_passes                                                   6767
yellow_cards                                                 1076
red_cards                                                      48
position        FF M SM SF M SF SF SF SFM SF M SF SF SF SF SF ...
team_title      TottenhamLiverpoolManchester UnitedTottenhamLe...
npg                                                           871
npxG                                                     950.7971
xGChain                                               2956.278233
xGBuildup                                             1803.541131
dtype: object

In [15]:
df_noid.median()

TypeError: Cannot convert [['Harry Kane' 'Mohamed Salah' 'Bruno Fernandes' ... 'Anthony Elanga'
  'Femi Seriki' 'Tyrese Francois']
 ['F' 'F M S' 'M S' ... 'M' 'S' 'S']
 ['Tottenham' 'Liverpool' 'Manchester United' ... 'Manchester United'
  'Sheffield United' 'Fulham']] to numeric

In [16]:
df_noid.var()

TypeError: could not convert string to float: 'Harry Kane'

In [17]:
df_noid.std()

TypeError: could not convert string to float: 'Harry Kane'

In [18]:
df_noid.quantile(0.75)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Mencari pencilan dengan Tukey's fences (1)
---

In [19]:
q1 = df_noid.quantile(0.25)
q3 = df_noid.quantile(0.75)
iqr = q3 - q1
iqr

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Mencari pencilan dengan Tukey's fences (2)
---

In [21]:
# handle warning
import warnings
warnings.filterwarnings('ignore')

# outlier filter
df_noid_align, iqr_new = df_noid.align(iqr, axis=1, copy=False, join='outer')
outlier_filter = (df_noid < q1 - 1.5 * iqr_new) | (df_noid > q3 + 1.5 * iqr_new)
outlier_filter

NameError: name 'iqr' is not defined

### Mencari pencilan dengan Tukey's fences (3)
---

In [22]:
df_noid[outlier_filter['assists']] \
    .loc[:, ['player_name', 'assists']] \
    .sort_values(by=['assists'], ascending=False)

NameError: name 'outlier_filter' is not defined

### Value_counts()
---
menghasilkan frekuensi setiap nilai unik di dalam kolom, yang tertinggi count-nya merupakan modus pada kolom tsb. Ada data dengan dua/tiga nama tim karena ada pemain yang bermain di dua/tiga klub dalam musim yang sama(ada transfer pemain)

In [23]:
df_noid['team_title'].value_counts()

team_title
Everton                          28
West Bromwich Albion             28
Sheffield United                 27
Southampton                      27
Manchester United                27
Fulham                           27
Leicester                        27
Wolverhampton Wanderers          27
Liverpool                        27
Brighton                         26
Arsenal                          26
Newcastle United                 26
Burnley                          25
Chelsea                          25
Crystal Palace                   24
Manchester City                  24
Tottenham                        24
West Ham                         23
Aston Villa                      23
Leeds                            23
Arsenal,Newcastle United          1
Everton,Southampton               1
Aston Villa,Chelsea               1
Liverpool,Southampton             1
Chelsea,Fulham                    1
West Bromwich Albion,West Ham     1
Arsenal,West Bromwich Albion      1
Arsenal,Brighton                  1
Name: count, dtype: int64

### Analisis dengan groupby
---
method groupby memungkinkan analisa dilakukan secara per kelompok nilai atribut tertentu.
misal: rerata dan simpangan baku gol per tim

In [24]:
df.groupby('team_title')['goals'].std()

team_title
Arsenal                          3.352381
Arsenal,Brighton                      NaN
Arsenal,Newcastle United              NaN
Arsenal,West Bromwich Albion          NaN
Aston Villa                      3.696489
Aston Villa,Chelsea                   NaN
Brighton                         2.158703
Burnley                          2.475210
Chelsea                          2.350177
Chelsea,Fulham                        NaN
Crystal Palace                   2.901461
Everton                          3.467727
Everton,Southampton                   NaN
Fulham                           1.439175
Leeds                            4.153193
Leicester                        4.020602
Liverpool                        4.931439
Liverpool,Southampton                 NaN
Manchester City                  3.867132
Manchester United                4.317855
Newcastle United                 2.483174
Sheffield United                 1.467599
Southampton                      3.141941
Tottenham                        5.855135
West Bromwich Albion             2.310260
West Bromwich Albion,West Ham         NaN
West Ham                         3.369240
Wolverhampton Wanderers          1.648620
Name: goals, dtype: float64

In [25]:
df.groupby('team_title')['goals'].mean()

team_title
Arsenal                          1.961538
Arsenal,Brighton                 0.000000
Arsenal,Newcastle United         8.000000
Arsenal,West Bromwich Albion     0.000000
Aston Villa                      2.130435
Aston Villa,Chelsea              3.000000
Brighton                         1.500000
Burnley                          1.280000
Chelsea                          2.240000
Chelsea,Fulham                   1.000000
Crystal Palace                   1.625000
Everton                          1.607143
Everton,Southampton              3.000000
Fulham                           0.925926
Leeds                            2.608696
Leicester                        2.370370
Liverpool                        2.370370
Liverpool,Southampton            3.000000
Manchester City                  3.208333
Manchester United                2.518519
Newcastle United                 1.384615
Sheffield United                 0.666667
Southampton                      1.555556
Tottenham                        2.750000
West Bromwich Albion             1.178571
West Bromwich Albion,West Ham    0.000000
West Ham                         2.478261
Wolverhampton Wanderers          1.222222
Name: goals, dtype: float64

### Korelasi Pearson antara kolom-kolom numerik
---
* Method corr() menghasilkan tabel korelasi pearson antar kolom-kolom numerik.
* Rentang nilai: antara -1 dan 1
* -1 = korelasi negatif | 0 = tidak ada korelasi linier | +1 = korelasi positif

In [26]:
df_noid.loc[:,'games':].corr()

ValueError: could not convert string to float: 'F'